.drag-drop-section {
    background-color: rgb(199, 241, 255);
    padding: 1vh 1vh 1vh;
}

.sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.drop-area {
    background-color: white;
    border: 5px;
    border-radius: 8px;
    height: 15vh;
    color: lightgrey;
}
@media only screen and (max-width: 1024px) {
    .drop-area {
        height: 8vh;
    }
}

.drag-prompt {
    pointer-events: none;
}

.drag-over {
    border: dashed 3px rgb(245, 193, 79);
}

.reset {
    font-weight: lighter;
    font-size: small;
    text-decoration: underline !important;
    color: rgb(145, 145, 145);
    margin-top: 5px;
}
.reset:hover {
    text-decoration: none !important;
    color: #4266f7;
}


.after-drop {
    width: 50%;
    height: auto;
}
@media only screen and (min-width: 1024px) {
    .after-drop {
        width: 30%;
        height: auto;
    }
}
